$bg-dark: #292a41;
$text-dark: #ececec;
$shadow-dark: #acacac;
$card-dark: #292a41;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
  background-color: #292a41;
  color: $text-dark;
  font-family: "Fruktur", cursive;
  margin: 0 auto;
  max-width: 1024px;
}

h1 {
  margin: 2em;
  padding: 1.5em;
  text-align: center;

  border: 1px solid red;
}

$card-padding: 1.5em;
$card-width: 350px;
.card {
  background-color: $card-dark;
  box-shadow: 0px 10px 13px -7px $shadow-dark, 5px 0 5px $bg-dark;
  padding: $card-padding;
  margin: 1em;
  max-width: 350px;
}

.card-title {
  padding: 0.25em;
}

.card-progress {
  .card-bar {
    background: #161724;
    border: 1px solid #161724;
    border-radius: 2px;
    display: inline-block;
    min-height: 5px;
    min-width: 37px;
  }
  .card-active {
    background: #bec925;
  }
}

$card-bottom-color: #161724;

.card-bottom {
  background: $card-bottom-color;
  border-radius: 0 0 #{$card-padding * 2} 0;
  min-height: #{$card-padding/2};
  margin: 0.5em auto;
  position: relative;
  top: 0;
  left: -$card-padding;
  width: calc(#{$card-width} + #{$card-padding});
  &::after {
    background-color: $card-bottom-color;
    border-radius: 0 #{$card-padding * 2} 0 0;
    content: "";
    display: table;
    min-height: #{$card-padding/2};
    min-width: $card-padding;
    position: absolute;
    top: -#{$card-padding/2};
    right: 0;
    z-index: 5;
  }

  &::before {
    background-color: $bg-dark;
    border-radius: 0 #{3 * $card-padding/4} #{3 * $card-padding/4} 0;
    content: "";
    display: table;
    min-height: #{$card-padding/2};
    min-width: #{$card-padding};
    position: absolute;
    top: -#{$card-padding/2};
    right: #{$card-padding/2};
    z-index: 10;
  }
}
