$bg-dark: #292a41;
$text-dark: #ececec;
$shadow-dark: #acacac;
$card-dark: #292a41;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
  background-color: #292a41;
  color: $text-dark;
  font-family: "Fruktur", cursive;
  margin: 0 auto;
  max-width: 1024px;
}

h1 {
  margin: 2em;
  padding: 1.5em;
  text-align: center;

  border: 1px solid red;
}

.card {
  background-color: $card-dark;
  box-shadow: 0px 10px 13px -7px $shadow-dark, 5px 0 5px $bg-dark;
  padding: 1.5em;
  max-width: 350px;
}
